.pgkb {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
  padding-top: 90px;
  overflow-x: hidden;
}


#pageSubhead {
  font-size: 1rem;
  text-align: center;
  padding: 10px;
  background-color: #3cc43c;
  background-image: linear-gradient(315deg, #32de7a 0%, #10b684dc 44%);
  color: white;
  margin: 10px;
  border-radius: 4px;
}

.rooms {
  background-color: black;
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  /* border: 2px solid red; */
}

