nav{
  position: absolute;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 100px;
  gap: 40px;
  z-index: 99;
  position: fixed;
  color: white;
  /* border: 2px solid red; */
}

.logoIcon{
  position: absolute;
  left: 20px;
  width: 60px;
  height: 60px;
  /* border: 2px solid greenyellow; */
  align-items: center;
}

.links-container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 40px;
  /* border: 2px solid rgb(0, 4, 128); */
}
.menu_item{
  padding: 2px 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  border-radius: 15px;
  margin: 0 5px;
  transition: 0.2s ease-in;
  /* border: 2px solid red; */
}
.menu_item:hover{
  background-color: #32de7a;
}
nav .home-link{
  margin-right: auto;
}
nav svg{
  fill: white;
}
#sidebar-active{
  display: none;
}
.open-sidebar-button, .close-sidebar-button{
  display: none;
  position: absolute;
  right: 10px;
}


.pgContainer {
  position: relative; /* Ensures the dropdown is positioned relative to this container */
  display: inline-block; /* Ensures the dropdown appears directly below the heading */
  cursor: pointer;
}

.pgList:hover {
  cursor: pointer; /* Optional: Adds a pointer cursor to indicate it's interactive */
}

.pgLocList {
  background: #323232;
  height: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  padding-top: 5px;
  margin-top: 5px;
  border-radius: 2px;
  top: 100%; 
  width: 200px;
  overflow: hidden;
  z-index: 1; 
}

.pgLocList li {
  border-radius: 2px;
  padding: 4px 10px;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
}

.pgLocList li:visited {
  color: white;
}

.pgLocList li:hover {
  color: white;
  background: black;
}

.pgLocList li a {
  color: white;
}

.pgContainer:hover .pgLocList {
  height: auto;
  opacity: 1;
}


@media(max-width: 620px){
  .links-container{
    flex-direction: column;
    align-items: flex-start;

    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 300px;

    background-color: black;
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
    transition: 0.75s ease-out;
  }
  .menu_item{
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px 30px;
    /* border: 2px solid red; */
    justify-content: flex-start;
  }
  .menu_item:hover{
    background-color: transparent;
    outline: none;
  }
  .open-sidebar-button, .close-sidebar-button{
    padding: 20px;
    display: block;
  }
  #sidebar-active:checked ~ .links-container{
    right: 0;
  }
  #sidebar-active:checked ~ #overlay{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
  }
}